@model IEnumerable<ReceitaMx.Models.Categoria>

@{
    ViewData["Title"] = "Todas as categorias";
}

<h1>Página inicial</h1>

<p>
    <a asp-action="Create">Criar uma nova categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar @item.Title</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Visulizar @item.Title</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar @item.Title</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="account" asp-action="Dashboard">Voltar</a>