@model ReceitaMx.Models.Receita

@{
    ViewData["Title"] = "Visualizar";
}

<h1>Detalhes @Model.Title</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReceitaId">Editar @Model.Title</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
